CompileFlags:
  Add: 
    - -std=c++20
    - -IC:/msys64/home/Aidan/SDKS/Vulkan/1.4.309.0/Include
    - -IC:/msys64/mingw64/include
    - -IC:/msys64/mingw64/include/c++/14.2.0
    - -IC:/msys64/mingw64/include/c++/14.2.0/x86_64-w64-mingw32
    - -DVK_USE_PLATFORM_WIN32_KHR
    - -ferror-limit=0
  Remove: [] 